node_modules/
lua_modules/
logs/
.tup
*.css
*.tar.gz
*.lua
nginx.conf.compiled
.DS_Store
build.sh
*min.js
*js.map
static/**/*.json
static/jasmine.js
static/main.js
static/service_worker.js
static/specs.js
static/js/st/song_parser_peg.js
static/js/st/staff_assets.jsx